databases:
  - name: management
    plan: free
    databaseName: mysite
    user: mysite

services:
  - type: web
    plan: free
    name: lcs-web
    runtime: python
    buildCommand: 'pip install -r requirements.txt && python manage.py collectstatic --noinput && python manage.py migrate'
    startCommand: 'gunicorn lcs.wsgi:application --bind 0.0.0.0:10000'
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: management
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: CLOUDINARY_CLOUD_NAME
        sync: false
      - key: CLOUDINARY_API_KEY
        sync: false
      - key: CLOUDINARY_API_SECRET
        sync: false
      - key: WEB_CONCURRENCY
        value: 4